<select
    name="{{ name }}"
    onchange="this.form.submit()"
    class="{{ class }}"
>
    {% if default_label is defined %}
        <option value="">{{ default_label }}</option>
    {% endif %}

    {% for option in options %}
        <option value="{{ option.value }}" {{ selected == option.value ? 'selected' : '' }}>
            {{ option.label }}
        </option>
    {% endfor %}
</select>